.nav-buttons {
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 20px;
    text-decoration: none;
    transition: opacity 0.15s;
}

.nav-buttons:hover {
    opacity: 0.8;
}

.nav-buttons:active {
    opacity: 0.5;
}
